# Copy this file to .env.local and fill in your keys.

VITE_CLERK_PUBLISHABLE_KEY=pk_test_YOUR_KEY_HERE

# Firebase configuration (replace with your own values)
VITE_FIREBASE_API_KEY=AIzaSyDVw_vhFXStAKYWCA0lE3IMxmNDZrGwnqs
VITE_FIREBASE_AUTH_DOMAIN=qr-menu-19cd1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=qr-menu-19cd1
VITE_FIREBASE_STORAGE_BUCKET=qr-menu-19cd1.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=650478848908
VITE_FIREBASE_APP_ID=1:650478848908:web:add3a3598af1b82e9f64a9
VITE_FIREBASE_MEASUREMENT_ID=G-ZVKX512TRH
